In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./data_original/reviews_meta.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203766 entries, 0 to 203765
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   category         203766 non-null  object
 1   tech1            6 non-null       object
 2   description      203766 non-null  object
 3   fit              0 non-null       float64
 4   title            203707 non-null  object
 5   also_buy         203766 non-null  object
 6   tech2            0 non-null       float64
 7   brand            137335 non-null  object
 8   feature          203766 non-null  object
 9   rank             203766 non-null  object
 10  also_view        203766 non-null  object
 11  main_cat         203756 non-null  object
 12  similar_item     0 non-null       float64
 13  date             38 non-null      object
 14  price            110745 non-null  object
 15  asin             203766 non-null  object
 16  imageURL         203766 non-null  object
 17  imageURLHighRes  203766 non-null  object
 18  details          195392 non-null  object
dtypes: float64(3), object(16)
memory usage: 29.5+ MB

C:\Users\raxmo\AppData\Local\Temp\ipykernel_17112\3501920326.py:1: DtypeWarning: Columns (1,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data_original/reviews_meta.csv')

In [4]:
df.head()

,category,tech1,description,fit,title,also_buy,tech2,brand,feature,rank,also_view,main_cat,similar_item,date,price,asin,imageURL,imageURLHighRes,details
0,"['Movies & TV', 'Movies']",NaN,[],NaN,Understanding Seizures and Epilepsy,[],NaN,NaN,[],"886,503 in Movies & TV (",[],Movies & TV,NaN,NaN,NaN,0000695009,[],[],NaN
1,"['Movies & TV', 'Movies']",NaN,[],NaN,Spirit Led&mdash;Moving By Grace In The Holy S...,[],NaN,NaN,[],"342,688 in Movies & TV (",[],Movies & TV,NaN,NaN,NaN,0000791156,['https://images-na.ssl-images-amazon.com/imag...,['https://images-na.ssl-images-amazon.com/imag...,NaN
2,"['Movies & TV', 'Movies']",NaN,['Disc 1: Flour Power (Scones; Shortcakes; Sou...,NaN,My Fair Pastry (Good Eats Vol. 9),[],NaN,Alton Brown,[],"370,026 in Movies & TV (",[],Movies & TV,NaN,NaN,NaN,0000143529,['https://images-na.ssl-images-amazon.com/imag...,['https://images-na.ssl-images-amazon.com/imag...,NaN
3,"['Movies & TV', 'Movies']",NaN,['Barefoot Contessa Volume 2: On these three d...,NaN,"Barefoot Contessa (with Ina Garten), Entertain...","['B002I5GNW4', 'B005WXPVMM', 'B009UY3W8O', 'B0...",NaN,Ina Garten,[],"342,914 in Movies & TV (","['B002I5GNW4', '0804187045', 'B009UY3W8O', '06...",Movies & TV,NaN,NaN,$74.95,0000143588,[],[],NaN
4,"['Movies & TV', 'Movies']",NaN,['Rise and Swine (Good Eats Vol. 7) includes b...,NaN,Rise and Swine (Good Eats Vol. 7),"['B000P1CKES', 'B000NR4CRM']",NaN,Alton Brown,[],"351,684 in Movies & TV (",['B0015SVNXY'],Movies & TV,NaN,NaN,NaN,0000143502,['https://images-na.ssl-images-amazon.com/imag...,['https://images-na.ssl-images-amazon.com/imag...,NaN

In [5]:
df = df.drop(['tech1', 'fit', 'tech2', 'feature', 'main_cat', 'similar_item', 'date', 'price', 'imageURL', 'imageURLHighRes', ], axis=1)
df.head()

,category,description,title,also_buy,brand,rank,also_view,asin,details
0,"['Movies & TV', 'Movies']",[],Understanding Seizures and Epilepsy,[],NaN,"886,503 in Movies & TV (",[],0000695009,NaN
1,"['Movies & TV', 'Movies']",[],Spirit Led&mdash;Moving By Grace In The Holy S...,[],NaN,"342,688 in Movies & TV (",[],0000791156,NaN
2,"['Movies & TV', 'Movies']",['Disc 1: Flour Power (Scones; Shortcakes; Sou...,My Fair Pastry (Good Eats Vol. 9),[],Alton Brown,"370,026 in Movies & TV (",[],0000143529,NaN
3,"['Movies & TV', 'Movies']",['Barefoot Contessa Volume 2: On these three d...,"Barefoot Contessa (with Ina Garten), Entertain...","['B002I5GNW4', 'B005WXPVMM', 'B009UY3W8O', 'B0...",Ina Garten,"342,914 in Movies & TV (","['B002I5GNW4', '0804187045', 'B009UY3W8O', '06...",0000143588,NaN
4,"['Movies & TV', 'Movies']",['Rise and Swine (Good Eats Vol. 7) includes b...,Rise and Swine (Good Eats Vol. 7),"['B000P1CKES', 'B000NR4CRM']",Alton Brown,"351,684 in Movies & TV (",['B0015SVNXY'],0000143502,NaN

In [6]:
df['category'] = df['category'].str.strip('[]').str.split(', ')
df['category'] = df['category'].apply(lambda x: tuple(x))

df['also_buy'] = df['also_buy'].str.strip('[]').str.split(', ')
df['also_buy'] = df['also_buy'].apply(lambda x: tuple(x))

df['also_view'] = df['also_view'].str.strip('[]').str.split(', ')
df['also_view'] = df['also_view'].apply(lambda x: tuple(x))

df['description'] = df['description'].apply(lambda x: x[1:-1])

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.to_csv('./data/meta_content.csv', encoding='utf-8', index=False)